<a href="/">Back to home page</a>
<article class="movie">
  <h1>{{ movie.title }}</h1>
  <div class="intro">
    {{{ markdown movie.intro }}}
  </div>
  {{#if movie.image }}
  <img src="{{ movie.image.url }}">
  {{/if }}
  <div>
    <h2>Reviews</h2>
    <div id="review">
      <form method="post" action="/movies/{{movie.id}}/reviews">
        <textarea name="comment"></textarea>
        <input type="hidden" name="movie" value="{{ movie.id }}">
        <input name="name" placeholder="Your Name" value="{{ name }}">
        <input type="submit">
      </form>
    </div>
    <div id="reviews">
    {{#each reviews}}
      <div class="review">
        <div class="comment">{{ this.comment }}</div>
        <div class="name">{{{ this.author }}}</div>
      </div>
    {{/each}}
    </div>
  </div>
</article>